.App {
  /* text-align: center; */
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
  overflow: hidden;
}

#book {
  height: 100px;
  width: 100px;
  top: 50vh;
  right: 0vw;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#book img {
  width: 100px;
  height: 100px;
}

.action-arrow {
  position: fixed;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Container {
  justify-self: center;
  align-items: center;
}

.action-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.action-arrow img {
  width: 100px;
  height: 100px;
}

<<<<<<< HEAD
#right {
  right: 0px;
}

=======
.action-arrow {
  position: fixed;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.action-arrow img {
  width: 100px;
  height: 100px;
}

#right {
  right: 0px;
}

>>>>>>> f9ac903 ([nt] mikes changes)
#left {
  left: 0px;
}
